@model MVCdemo.Employee

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>     
<table>
    <tr>
        <td>Employee id</td>
        <td>@Model.Id</td>
    </tr>
    <tr>
        <td>Employee Name</td>
        <td>@Model.Name</td>
    </tr>
    <tr>
        <td>Employee Desg</td>
        <td>@Model.Desg</td>
    </tr>
    <tr>
        <td>Employee Dept</td>
        <td>@Model.Dept</td>
    </tr>
    <tr>
        <td>Employee Salary</td>
        <td>@Model.Salary</td>
    </tr>
</table>

